@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #020410;
}

.background {
	width: 100%;
	height: 100vh;
	background: url("../img/rs-pku-gamping1.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(10px);
}

.container-log {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	height: 550px;
	background: url("../img/rs-pku-gamping.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}

.container-log .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 58%;
	height: 100%;
	background: transparent;
	color: #e4e4e4;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container-log h2 {
	font-size: 35px;
	margin: 0px 0px 30px 0px;
	line-height: 1.2;
}

.text-sci h3 {
	font-size: 20px;
}

.text-sci h3 span {
	color: #2eb127;
}

.container-log .login-box {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 58%);
	height: 100%;
}

.login-box .form-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: transparent;
	backdrop-filter: blur(20px);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #e4e4e4;
}

.form-box h2 {
	font-size: 32px;
	text-align: center;
}

.form-box h3 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 40px;
}

.form-box .input-box {
	position: relative;
	width: 400px;
	height: 50px;
	margin: 50px 0;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 1px solid #e4e4e4;
	outline: none;
	border-radius: 40px;
	font-size: 1em;
	color: #e4e4e4;
	padding: 0 25px 0 45px;
}

.eye-icon-container {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}

.separator {
	width: 1px;
	height: 50px;
	background-color: #e4e4e4;
	margin-right: 10px;
}

.eye-icon {
	cursor: pointer;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 45px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #e4e4e4;
	pointer-events: none;
	transition: 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
	font-size: 0.8em;
	top: -14px;
	left: 17px;
}

.input-box .icon {
	position: absolute;
	top: 14px;
	left: 15px;
	font-size: 1.2em;
	color: #e4e4e4;
}

.form-box .remember-me {
	font-size: 14.5px;
	font-weight: 500;
	margin: -15px 0 15px 0;
	display: flex;
	justify-content: space-between;
}

.remember-me label input {
	accent-color: #2eb127;
	margin-right: 3px;
}

.btn-log {
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	border-radius: 40px;
	background: linear-gradient(80deg, #13290d, #0abb01);
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-size: 1em;
	color: #e4e4e4;
	font-weight: 500;
}

.btn-log:hover {
	background: #2eb127;
	color: #020410;
	font-weight: 600;
}

/* Media query untuk tablet */
@media (max-width: 768px) {
	.container-log {
		width: 90%;
		height: auto;
		flex-direction: column;
	}

	.container-log .content,
	.container-log .login-box {
		width: 100%;
		position: static;
	}

	.container-log .login-box {
		margin-top: 20px;
	}

	.form-box {
		border-radius: 10px;
	}

	.input-box {
		width: 80%;
		margin: 20px auto;
	}
}

/* Media query untuk ponsel */
@media (max-width: 480px) {
	.container-log {
		padding: 20px;
	}

	.container-log h2 {
		font-size: 24px;
	}

	.text-sci h3 {
		font-size: 14px;
	}

	.form-box h2 {
		font-size: 20px;
	}

	.input-box {
		width: 90%;
	}

	.form-box .remember-me {
		flex-direction: column;
		align-items: center;
	}

	.remember-me label {
		margin-bottom: 5px;
	}
}

.required:after {
	content: "*";
	color: brown;
}
